
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">

          <div class="col-xl-12">
            <div class="text-center text-xl-right text-muted">
              <a href="https://bhub.com/" 
                 class="font-weight-bold ml-1" target="_blank"> &copy; Desafio BHub</a> 
                 - código disponível em 
                 <a target="_blank" href="https://github.com/GabiNeme/Client-CRUD">GitHub GabiNeme</a>
            </div>
          </div>
        </div>
      </footer>
