{% extends 'layouts/base.html' %}

{% block title %} Clientes {% endblock title %}

{% block content %}

  <div class="header bg-danger pb-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">404</h6>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--8">
    <div class="row">
      <div class="col">
        {% include "includes/messages.html" %}
        <div class="card">
          <!-- Card header -->
          <div class="card-header ">
            <h2 class="mb-3">Página não encontrada</h2>
          </div>
          <!-- Card body-->
          <div class="col-lg-12 order-lg-2">
            <div class="media align-items-center">

            </div>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">

          </div>
        </div>
      </div>
    </div>
   


    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
